@use './partials/variables' as *;
// @import '~bootstrap/scss/bootstrap';

// $fa-font-path:"../webfonts";

// @import "@fortawesome/fontawesome-free/scss/fontawesome";
// @import "@fortawesome/fontawesome-free/scss/regular";
// @import "@fortawesome/fontawesome-free/scss/solid";
// @import "@fortawesome/fontawesome-free/scss/brands";
// @import 'bootstrap/scss/bootstrap';


body{
    color: white;
}
// .sidebar{
//     background-color: aliceblue !important;
//     &>*{
//         background-color: aliceblue !important;
//     }
// }
// $secondary: #fa0202;
#editProd{
    input, textarea, select{
        background-color: $black;
        color: $input-text;
        border-radius: 0.5rem;
    }
}